<ul>
    <li><a href="<%= Object.values(context.url[0]) %>">네이버</a></li>
    <li><a href="<%= Object.values(context.url[1]) %>">구글</a></li>
    <li><a href="<%= Object.values(context.url[2]) %>">다음</a></li>
</ul>
<%= Object.keys(context.url)  %>
<%= Object.values(context.url[0]) %>